.con h1 {
    font-weight: 800;
    font-size: 80px;
    font-family: Impact;
}
.con button{
    background-color: blue;
    color: white;
    transition: all 0.1s;
    width: 250px;
    height: 80px;
}
button:hover {
    background-color: green;
}
.con h3 {
    font-size: 35px;
    font-weight: 400;
}

.con p {
    font-size: 35px;
    font-weight: 400;
}